**/.git
**/.gitignore
**/.gitattributes
**/node_modules
**/dist
**/vendor
**/.env
**/.env.*
!**/.env.example
**/*.log
**/.DS_Store
iTechSolution-backend/storage/logs/*
iTechSolution-backend/storage/framework/cache/*
iTechSolution-backend/storage/framework/sessions/*
iTechSolution-backend/storage/framework/testing/*
iTechSolution-backend/storage/framework/views/*
iTechSolution-backend/bootstrap/cache/*.php
iTechSolution-backend/database/database.sqlite
iTechSolution-backend/public/storage
iTechSolution-frontend/.vite
